# Default ignored files
/../../Guarderia2./.idea/shelf/
/../../Guarderia2./.idea/workspace.xml
# Editor-based HTTP Client requests
/../../Guarderia2./.idea/httpRequests/
# Datasource local storage ignored files
/../../Guarderia2./.idea/dataSources/
/../../Guarderia2./.idea/dataSources.local.xml
